@using EmployeeLogin.Entity;
@model Customer

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<th>CustomerID</th>
<th>Name</th>
<th>Surname</th>
<th>Birtday</th>
<th>AdressID</th>
<th>TelefonID</th>

<h2>MusteriEkle</h2>
@using (Html.BeginForm("InsertCustomer", "Customer", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.CustomerID)
    <br />
    @Html.TextBoxFor(m => m.Name)
    <br />
    @Html.TextBoxFor(m => m.Surname)
    <br />
    @Html.TextBoxFor(m => m.Birtday)
    <br />
    @Html.TextBoxFor(m => m.AdressID)
    <br />
    @Html.TextBoxFor(m => m.TelefonID)
    <br />
    <input type="submit" value="Kaydet" />


}
