@model IEnumerable<EmployeeLogin.DAL.Customer>

@{
    ViewBag.Title = "AllCustomer";
}

<h2>AllCustomer</h2>

<p>
    @Html.ActionLink("Yeni Müşteri", "AddCustomer", "Customer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>

            <td>

                <table>
                    @foreach (var Address in item.Address)
                    {
                        <tr>
                            <td> @Address.Address1 </td>
                        </tr>
                    }

                </table>
            </td>

            <td>
                <table>
                    @foreach (var Phone in item.Phone)
                    {
                        <tr>
                            <td> @Phone.Phone1 </td>
                        </tr>
                    }

                </table>
            </td>
            <td>

                <table>
                    @foreach (var Email in item.Email)
                    {
                        <tr>
                            <td> @Email.Email1 </td>
                        </tr>
                    }

                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>
